[Proposal] consider making `newWithMethods` accessible function

According to https://github.com/goji/goji/blob/aab2e9b11766fa8810476ef36627c004ddfbaa5a/pat/methods.go `pat` at the moment supports:

* some of the methods in [RFC 2616](https://ietf.org/rfc/rfc2616)
* plus the patch method from [RFC 5789](https://tools.ietf.org/html/rfc5789)

In some use cases you might want to use methods other than these (e.g. lock/unlock methods from [RFC 2518](https://ietf.org/rfc/rfc2518)), which at the moment as far as I know is not feasible to be implemented in goji.

I'd propose considering [newWithMethods](https://github.com/goji/goji/blob/4e01250a16b8cad09f4d8a4d036cd6ca6b3c74f4/pat/pat.go#L173-L183) publically accessible via making it `NewWithMethods`, so you can do things like 

```go
mux.HandleFunc(NewWithMethods("/:name", "LOCK"), handlerFunc)
```

Please let me know what you think (I'm also more than happy to contribute to goji)

Yeah—that’s a good idea! Feel free to send me a PR (I think we’ll also want to add some documentation in addition to the visibility change); alternatively if you prefer I can write this up in the coming days 

Cheers @zenazn. PR created in https://github.com/goji/goji/pull/60. Let me know what you think ;)

Thanks for contributing this change!